/*!**********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles.scss ***!
  \**********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap);
/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles.scss (1) ***!
  \**************************************************************************************************************/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: "Roboto", sans-serif;
}

#game-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#info {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(31, 28, 28, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  user-select: none;
}
#info .info-element {
  display: flex;
}
#info #info-next-solar-eclipse {
  justify-content: center;
}
#info #info-next-solar-eclipse #info-next-solar-eclipse-button {
  margin-top: 8px;
}
#info #info-next-lunar-eclipse {
  justify-content: center;
}
#info #info-next-lunar-eclipse #info-next-lunar-eclipse-button {
  margin-top: 8px;
}

#date-container {
  position: relative;
  display: inline-block;
}

#date-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  background-color: black;
  z-index: 1;
}

#current-date-time {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  margin-top: 28px;
}
#current-date-time #current-date {
  font-size: 40px;
  color: white;
  border: none;
  background-color: black;
}
#current-date-time #current-time {
  font-size: 40px;
  color: white;
  border: none;
  background-color: black;
}

.speed-controls {
  width: 80%;
  align-items: center;
  display: flex;
}
.speed-controls #sim-speed-slider {
  width: 60%;
}
.speed-controls #simulation-speed {
  color: white;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

#control-panel {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(31, 28, 28, 0.5);
  z-index: 100;
  width: 25%;
  justify-content: space-between;
}
#control-panel .play-pause #play-pause-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  filter: invert(100%);
}

#current-date-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
  filter: invert(100%);
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: rgba(31, 28, 28, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  user-select: none;
}
#sidebar .sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
#sidebar .sidebar-item .sidebar-text {
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8px;
  text-align: center;
  margin-top: 5px;
  color: white;
  user-select: none;
}
#sidebar #toggleMoons,
#sidebar #toggleOrbits,
#sidebar #toggleLabels {
  margin-top: 10px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  user-select: none;
}
#sidebar #music-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  bottom: 40px;
  position: fixed;
  filter: invert(100%);
}

#celestial-body-list {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 !important;
  top: 90px !important;
  right: 10px !important;
  list-style-type: none !important;
  position: absolute !important;
}
#celestial-body-list li {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  color: white;
  text-align: left;
  user-select: none;
}
#celestial-body-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
