#current-date-time {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  margin-top: 28px;

  #current-date-time-picker {
    font-size: 40px;
    color: white;
    border: none;
    background-color: transparent;
    text-shadow: 2px 2px 4px #000000;

    // For tablet devices
    @media (max-width: 991px) {
      font-size: 30px;
    }

    // For mobile devices
    @media (max-width: 767px) {
      font-size: 24px;
    }

  }


  #date-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    background-color: black;
    z-index: 1;
  }
}