@import "constants";

#sidebar {
    position: fixed;
    left: 0;
    top: 20%;
    width: 80px;
    height: 440px;
    background-color: $main-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    user-select: none;
    border-radius: 16px;

    @media (max-width: 767px) {
      left: auto;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 50px;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 0;
      padding-bottom: 20px;


      .sidebar-item {
        margin-bottom: 0 !important;
      }
    }
  
  
    .sidebar-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
  
      .sidebar-text {
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 8px;
        text-align: center;
        margin-top: 5px;
        color: white;
        user-select: none;
      }
    }
  
    #toggleMoons,
    #toggleOrbits,
    #toggleLabels,
    #openSettings {
      margin-top: 10px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      user-select: none;
    }

    #toggleSize {
      margin-top: 10px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      user-select: none;
    }
  
  
    #music-icon {
      cursor: pointer;
      width: 40px;
      height: 40px;
      filter: invert(100%);
    }
  
  }